<!DOCTYPE html>
<html>
  <head>
    <title>JARVIS</title>
     {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/j.jpg') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.datetimepicker.css') }}"/ >
    <script src="{{ url_for('static', filename='css/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='css/jquery.datetimepicker.full.min.js') }}"></script>
    {% endblock %}
  </head>
  <body>

  {% block content %}
  {% endblock %}

 <div class="grid">
      <div class="grid__col--12 panel--padded--centered" role="contentinfo">
        <p>A Simple Personal Assistant.</p>
      </div>
    </div>
  
    <!--<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>-->
    <script>
      $('#toggle').click(function() {
        $(this).next('.nav').toggleClass("is-collapsed-mobile");
      });
    </script>

  </body>
</html>
