{% extends "base.html" %}

{% block content %}

<div class="grid__col--12 panel--padded--centered">
        <img class="img--avatar" src="{{ url_for('static', filename='img/j.jpg') }}" alt="Avatar">
        <nav class="navbar" role="navigation">
        <ul class="nav is-collapsed-mobile">
            <li class="nav__item--current"><a href="{{ url_for('home',name=data) }}">Home</a></li>
            <li class="nav__item"><a href="{{ url_for('notif',name=data) }}">Notifications</a></li>
            <li class="nav__item"><a href="{{ url_for('video',name=data) }}">Camera</a></li>
            <li class="nav__item"><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
          </nav>
  </div>
  
 <div class="grid">


      <div class="grid__col--7">
  
      <p id="demo"></p>

<script>
var d = new Date();
document.getElementById("demo").innerHTML = d;
</script>
      <h4>Switch status</h4>
    <form action="" method="post">
      <span>
      Switch &nbsp;:
		  <button type="submit" {% if switch == "On" %} class="btn--success" {% else %} class="btn--error" {% endif %} name="device" value="switch{{ switch }}">{{ switch }}</button></span>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  Light&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
		  <button type="submit" {% if light == "On" %} class="btn--success" {% else %} class="btn--error" {% endif %} name="device" value="light{{ light }}">{{ light }}</button></span>
		
    </form>
<h4>Add Notifications</h4>
<form class="form" method="post" action="{{ url_for('notif',name=data) }}">
<input class="form__input" id="datetimepicker" name="date" type="text" placeholder="Date/Time">
<textarea class="form__input" name="msg" placeholder="Message..." rows="2"></textarea>
<button type="submit"  class="btn--info">Insert</button>
<submit name="notif" value="insert"/>
</form>
<script type="text/javascript">jQuery('#datetimepicker').datetimepicker();</script>

     
  </div>

      <div class="grid__col--4">
        <h4>Room Status</h4>
        <div class="offcanvas">
          <span class="icn--close">
            <b class="srt">close</b>
          </span>
          <ul class="menu" role="navigation">
            <a class="menu__link" href="#">Temprature</a>
            <a class="menu__link" href="#">{{ temperature }} &#8451;</a>
            <a class="menu__link" href="#">Humidity</a>
            <a class="menu__link--end" href="#">{{ humidity }} &#37;</a>
          </ul>
        </div>
      </div>
    </div>

{% endblock %}
