{% extends "base.html" %}

{% block content %}
<!--{{ data }}-->

<div class="centered grid__col--4">
        <img class="img--avatar" src="{{ url_for('static', filename='img/jarvis.jpg') }}" alt="Avatar">
  </div>
 <div class="grid">


      <div class="grid__col--6">
  
      <p id="demo"></p>

<script>
var d = new Date();
document.getElementById("demo").innerHTML = d;
</script>
      <h4>Switch status</h4>
    <form action="" method="post">
      <span>
      Switch &nbsp;:
		  <button type="submit" {% if switch == "On" %} class="btn--success" {% else %} class="btn--error" {% endif %} name="device" value="switch{{ switch }}">{{ switch }}</button></span>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  Light&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
		  <button type="submit" {% if light == "On" %} class="btn--success" {% else %} class="btn--error" {% endif %} name="device" value="light{{ light }}">{{ light }}</button></span>
		
    </form>
<h4>Notifications</h4>
<form class="form" method="post">
<input class="form__input" id="datetimepicker" type="text" placeholder="Date/Time">
<textarea class="form__input" name="msg" placeholder="Message..." rows="2"></textarea>
<button type="submit" class="btn--info">Insert</button>
</form>
<script type="text/javascript">jQuery('#datetimepicker').datetimepicker();</script>

     
  </div>

  <div class="grid__col--5">
  </div>
      <div class="grid__col--3">
        <h4>Room Status</h4>
        <div class="offcanvas">
          <span class="icn--close">
            <b class="srt">close</b>
          </span>
          <ul class="menu" role="navigation">
            <a class="menu__link" href="#">Temprature</a>
            <a class="menu__link" href="#">{{ temperature }} &#8451;</a>
            <a class="menu__link" href="#">Humidity</a>
            <a class="menu__link--end" href="#">{{ humidity }} &#37;</a>
          </ul>
        </div>
      </div>
    </div>

{% endblock %}
