


    {% extends "base.html" %}

    {% block content %}
    
    <div class="grid">
     
      <div class="centered grid__col--4">
        <img class="img--avatar" src="{{ url_for('static', filename='img/j.jpg') }}" alt="Avatar">
        <form method="post">
          <label class="form__label--hidden" for="username">Username:</label> 
          <input class="form__input" type="text" id="username" name="email" type="email" placeholder="Username">
          <label class="form__label--hidden" for="password">Password:</label>
          <input class="form__input" type="password" id="password" name="passw" placeholder="Password">
          <input class="form__btn" type="submit" value="Login">
        </form>
      </div>
    </div>
    {% endblock %}